@using Microsoft.AspNet.Identity
<li id="messages-nav-icon" class="dropdown">
     <a class="dropdown-toggle">
        <i class="fa fa-envelope fa-2x"></i>
     </a>
    @if (Model.Messages.Count() != 0)